.about-us {
  display: flex;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.about-us .left-image {
  width: 10%;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.about-us ul li {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  line-height: 2rem;
  
}
.about-img-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.about-span {
  width: 50%;
}
.about {
  display: flex;
  align-items: center;
}
.about span {
  font-size: 4.5rem;
  color: #10a8e6;
  margin: 0;
  padding: 0 0 0 1rem;
  font-family: montserrat2 !important ;
}
.mandeep-img-container {
  position: relative;
  width: 50%;
}
.about-img-container {
  width: 100%;
  justify-content: space-between;
}
.about-img-container img {
  width: 60%;
  border-radius: 100%;
}
.nested-img-div {
  min-height: 100%;
}
.nested-img-div img {
  float: right;
}
.nested-img-div .thick-blue-img-div {
  width: 30%;
  height: 50%;
  border-radius: 0 100% 0 0;
  background-color: #038cc2;
  position: absolute;
  top: 0;
  left: 70%;
}
.nested-img-div .light-blue-img-div {
  width: 30%;
  height: 50%;
  border-radius: 0 0 100% 0;
  background-color: #00bfff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 70%;
}
.about-span::after {
  content: "Oztaj has been set up by Mandeep Manchanda";
  display: block;
  color: #00bfff;
  font-size: small;
  font-weight: 200;
}
.paragraph-container {
  display: flex;
  padding: 1.5em 0;
  clear: right;
}
.about-left {
  width: 30%;
  padding-top: 1em;
  color: #00bfff;
}
.about-right {
  width: 75%;
  padding: 2em 0 0 2em;
}
@media screen and (max-width: 910px) {
  .about-us .left-image {
    display: none;
  }
  .about-us-content {
    width: 100%;
    padding: 0 2rem;
  }
  .about-img-container img {
    width: 50%;
    border-radius: 100%;
  }
  .nested-img-div .thick-blue-img-div {
    width: 25%;
    height: 50%;
    border-radius: 0 100% 0 0;
    background-color: #00abec;
    position: absolute;
    top: 0;
    left: 75%;
  }
  .nested-img-div .light-blue-img-div {
    width: 25%;
    height: 50%;
    border-radius: 0 0 100% 0;
    background-color: #00bfff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 75%;
  }
  .paragraph-container {
    flex-direction: column;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 440px) {
  .nested-img-div .light-blue-img-div {
    left: 75%;
  }
  .nested-img-div .thick-blue-img-div {
    left: 75%;
  }
}
