.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-content {
  display: flex;
  margin: auto;
  align-items: center;
  width: 70%;
}
.contact-us-content .conversation-headline {
  color: #72d0f0;
  width: 60%;
}
.conversation-headline {
  position: relative;
}
.conversation-headline h2 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-family: montserrat5 !important;
  text-align: center;
}
.contact-us-content .mail-info {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 230px;
  min-height: 230px;
  width: 25vh;
  height: 25vh;
  background-color: #72d0f0;
  border-radius: 0 100% 0 0;
  color: #231f20;
}

.mail-info {
  position: relative;
  padding: 10px;
}

.mail-info .mail-info__arc-sm {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #bfe5f7;
  left: -50px;
  bottom: -50px;
  border-radius: 0 0 0 100%;
}

.mail-info .email,
.mail-info .phone {
  font-family: MontSerrat1;
  font-weight: bold;
}

.mail-info div {
  bottom: 0;
  line-height: 2.1rem;
  letter-spacing: 1px;
}
.mail-info div small {
  line-height: normal;
  color: #231f20;
}

.mail-info .icon-container {
  background-color: #fff;
  border-radius: 100%;
  padding: 2.5px;
}

.mail-info img {
  width: 15px;
  height: 15px;
}

.mail-info div.contact-desc {
  padding-left: 2rem;
  margin: 0;
}

.contact-desc p {
  margin-bottom: 0;
  line-height: 1.5rem;
  padding: 3px 0;
}

@media screen and (max-width: 736px) {
  .mail-info .mail-info__arc-sm {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .contact-us-content {
    flex-direction: column;
  }
  .contact-us-content .conversation-headline {
    width: 100%;
  }
  .contact-us-content .mail-info {
    border-radius: 5px;
    width: 100%;
    height: 20vh;
  }
  .conversation-headline h2 {
    font-size: 1.5rem;
    padding: 10px 0px;
  }

  .mail-info div {
    margin: auto;
  }
  .mail-info .mail-info__arc-sm {
    display: none;
  }

  .mail-info div.contact-desc {
    padding-left: 0;
  }

  .contact-desc p {
    padding: 15px 0;
  }
}
