/* Fonts Used  */

@font-face {
  font-family: "MontSerrat1";
  src: url(Fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 12, 18, 24;
}
@font-face {
  font-family: "MontSerrat2";
  src: url(Fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 12, 18, 24;
}
@font-face {
  font-family: "MontSerrat3";
  src: url(Fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 12, 18, 24;
}
@font-face {
  font-family: "MontSerrat4";
  src: url(Fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 12, 18, 24;
}
@font-face {
  font-family: "MontSerrat5";
  src: url(Fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 12, 18, 24;
}
@font-face {
  font-family: "MontSerrat6";
  src: url(Fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 12, 18, 24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  /* color: #474747; */
}

body {
  font-family: montserrat4 !important ;
  color: #929292;
  /* font-weight: 1 !important; */
  font-weight: 590 !important;
  margin: 0 auto;
}

html {
  scroll-behavior: smoth;
}

.block {
  min-height: 90vh;
  /* margin: auto; */
  /* overflow-x: hidden; */
}

.about-us h1,
.services h1,
.who-r-v h1,
.why-exist h1,
.why h1 {
  font-size: clamp(3rem, 7vw, 4.5rem);
  color: #039dda;
  font-family: montserrat2 !important ;
}

.about-us h2,
.services h2,
.who-r-v h2,
.why-exist h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-family: montserrat3 !important ;
}

/* NAVBAR BLOCK */

.navbar {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  font-family: montserrat5 !important ;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1000;
  background-color: white;
}
.container-fluid {
  max-width: 75%;
  background-color: rgba(172, 179, 179, 0.2);
  border-radius: 0 0 23px 23px;
  box-shadow: none;
}
.navbar-nav {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}
.nav-item .nav-link::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 2px;
  border-radius: 12px 4px 0 4px;
  background-color: rgb(90, 89, 89);
}
.dropdown .dropdown-menu {
  background-color: #abe1fa;
  border: none;
  border-radius: 0 0 160px 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: montserrat6 !important ;
}
.dropdown .dropdown-menu li a {
  font-size: 0.8rem;
}

ul.dropdown-menu[data-bs-popper] {
  margin-top: 0;
}
/* .navbar a:active{
 background-color: #00abec;
} */

/* MAIN LOGO BLOCK */

.logo-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding-top: 20vh;
}
.logo {
  padding-bottom: 1rem;
}

/* scrolling quotation properties */
.q-container {
  display: flex;
  position: relative;
  flex-direction: flex-row;
  height: 13vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.quote_container {
  display: block;
  margin: auto;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  left: 0vw;
  animation-name: carrousel;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.quote_container:last-of-type {
  margin-right: 0;
}

.quote {
  display: block;
  text-align: center;
  margin: auto;
  color: #00abec;
  font-size: 2rem;
  font-family: montserrat4 !important ;
}

@keyframes carrousel {
  0% {
    left: 0vw;
    opacity: 1;
  }

  20% {
    left: 0vw;
    opacity: 1;
  }

  33% {
    left: -100vw;
    opacity: 1;
  }

  50% {
    left: -100vw;
    opacity: 1;
  }

  66% {
    left: -100vw;
    opacity: 1;
  }

  80% {
    left: -200vw;
    opacity: 1;
  }

  99% {
    left: -200vw;
    opacity: 1;
  }

  99.2% {
    left: 0vw;
    opacity: 0;
  }

  100% {
    left: 0vw;
    opacity: 1;
  }
}

.line-devider {
  color: #c6c8c9;
  box-shadow: 0.5px 0.5px;
}

/* ABOUT US BLOCK CONTENT */
/* .about-us {
  display: flex;
}
.about-us .left-image {
  width: 15%;
}
.about-us-content {
  width: 84%;
}
.about {
  display: flex;
  align-items: center;
}
.about span {
  font-size: 4.5rem;
  color: #00abec;
  margin: 0;
  padding: 0 0 0 1rem;
  font-family: montserrat2 !important ;
}
.about-span::after {
  content: "Oztaj has been set up by Mandeep Manchanda";
  display: block;
  color: #00abec;
}
.paragraph-container {
  display: flex;
  padding: 1.5em 0;
}
.about-left {
  width: 25%;
  padding-right: 1em;
  color: #00abec;
}
.about-right {
  width: 75%;
} */

/* SERVICES WE PROVIDE BLOCK CONTENT */
/* .services {
  display: flex;
  align-items: center;
  
}
.services-content {
  margin-left: 15%;
}
.services-list li{
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: small;
}
.nested-list>li{
  color:#b1b0b0 ;
}
.provide {
  color: #00abec;
  font-size: 4.5rem;
  font-weight: 200;
  font-family: montserrat2 !important ;
} */

/* PRIVACY AND SECURITY BLOCK CONTENT */
/* .privacy-security {
  display: flex;
  justify-content: center;
  align-items: center;
}
.security-image-container {
  max-height: 75vh;
}
.security-img {
  max-height: 75vh;
} */

/* CONTACT US BLOCK CONTENT */
/* .contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-content {
  display: flex;
  margin: auto;
  align-items:center;
  width: 70%;
  
}
.contact-us-content .conversation-headline {
  color: #abe1fa;
  width: 60%;
}
.conversation-headline{
  position: relative;
}
.conversation-headline h2{
  position: absolute;
  right: .4rem;
  letter-spacing: 1px;
}
.contact-us-content .mail-info{
  width: 23vw;
  height: 35vh;
  position: relative;

  background-color: #abe1fa;
  border-radius: 0 100% 0 0;
  color: black;
}
.mail-info p{
  position: absolute;
  bottom: 0;
  line-height: 2.1rem;
  letter-spacing: 1px;
padding-left: 2.2rem;
  
}
.mail-info p small{
  line-height: normal;
} */

/* WHO ARE WE BLOCK CONTENT */
/* .who-r-v {
  display: flex;
  align-items: center;
}
.who-r-v .content-wrapper {
  display: flex;
  width: 70%;
  margin-left: 8%;
}
.are-we-part-headline {
  display: flex;
  align-items: center;
}
.who-r-v .middle-content {
  width: 30%;
  padding-top: 1.2em;
}
.who-r-v .blue-paragraph{
  padding:1em 1em 0 0;
}
.who-r-v .middle-content .blue-paragraph {
  color: #00abec;
}
.who-r-v .right-content {
  padding-top: 5.1em;
  width: 60%;
} */

/* WHY WE EXIST BLOCK CONTENT */
.why-exist-container{
  display: flex;
  align-items: center;
}
.why-exist-content-wrapper {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  /* margin: 0;
  padding: 0; */
}
.why-exist-left-image {
  
  width: 15%;
  
}
.why-exist{
  width: 55%;

  
}
.why-exist-right-image {
  
  width: 30%;
  
}
/* .gear {
  height: 50vh;
  border-radius: 0 0 0 400px;
  margin-bottom: 7em;
} */

.why-exist h2::after {
  content: "we exist to simplify your complaince services process!";
  display: block;
  color: #00abec;
  font-size: 1.1rem;
  font-weight: 400;
}
.row {
  min-height: 52vh;
}
.paragraphs{
  display: flex;
  /* justify-content: space-between; */
}
.paragraphs .left-para{
  padding-right: 1rem;
}
.paragraphs p {
  padding-top: 1rem;
  /* padding-bottom: 1.5rem; */
}
.mobile-gear {
  display: none;
}

/* WHY BLOCK CONTENT
.why {
  display: flex;
  align-items: center;
}
.why-content {
  width: 78%;
  display: flex;
  margin: auto;
}
.why-content .left-content {
  width: 48%;
}
.why-content .right-content {
  width: 48%;
} */

/* media queries - Responsive */

@media screen and (max-width: 1000px) {

  .navbar li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 755px) {
  

  .navbar li a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 630px) {
  .quote {
    font-size: 1.5rem;
  }
  .navbar li a {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    margin-right: 4em;
    margin-bottom: 3em;
  }
}
