.services {
    display: flex;
    align-items: center;
    
  }
  .services-content {
    margin-left: 15%;
  }
  .services-list li{
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: small;
  }
  .nested-list>li{
    color:#b1b0b0 ;
  }
  .provide {
    color: #00abec;
    font-size: 4.5rem;
    font-weight: 200;
    font-family: montserrat2 !important ;
  }

  @media screen and (max-width: 767px){
    .services {
      display: flex;
      align-items: center;
    }
    .services-content{
      margin-left: 0;
      width: 100%;
      padding: 0 1.5rem;
    }
    
  }
  