.privacy-security {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.security-image-container {
  position: relative;
  width: 80vw;
  height: 60vh;
  margin: auto;
  background-image: url("images/privacy.jpg");
  
  background-size: cover;
}
.privacy-security p{
width: 80vw;
padding-top: 1.5rem;
}
.security-img {
  max-width: 100%;
  padding: 0 1.5rem;
}

@media screen and (max-width: 767px) {
  .security-image-container {
    max-width: 98vw;
  }
}
@media screen and (max-width: 530px) {
  .security-img {
    max-width: 98vw;
  }
}
