.who-r-v {
    display: flex;
    align-items: center;
    padding-top: 20vh;
  }
  .who-r-v .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    /* border: 1px solid red; */
  }
  .content-wrapper .paras-container{
    display: flex;
    align-items: flex-start;
  }
  .who-r-v .left-content {
    width: 30%;
    /* border: 1px solid red; */
  }
  .who-r-v .blue-paragraph{
    padding:1em 1em 0 0;
    color: #00abec;
  }
  .who-r-v .right-content {
    width: 64%;
    padding:1em 1em 0 0;
    /* border: 1px solid red; */
  }
  