.who-r-v {
    display: flex;
    align-items: center;
    padding-top: 20vh;
  }
  .who-r-v .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15%;
    
  }
  .content-wrapper .paras-container{
    display: flex;
    align-items: flex-start;
    width: 80%;
  }
  .who-r-v .left-content {
    width: 33%;
    
  }
  .who-r-v .blue-paragraph{
    padding:1em 1em 0 0;
    color: #00bfff;
  }
  .who-r-v .right-content {
    width: 64%;
    padding:1em 1em 0 0;
    
  }

  @media screen and (max-width: 767px) {
    .who-r-v .content-wrapper{
      width: 100%;
      margin: 0;
      padding: 0 1.5rem;

    }
    .paras-container .left-content{
      width: 30%;
    }
    .paras-container .right-content{
      width: 70%;
    }

    @media screen and (max-width: 530px){
      .who-r-v .content-wrapper{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 1.5rem;
      }
      .content-wrapper .paras-container{
        display: flex;
        flex-direction: column;
      }
      .paras-container .left-content{ 
        width: 100%;
      }
      .paras-container .right-content{
        width: 100%;
      }
    }

  }
  