.why-exist-container {
  display: flex;
  align-items: flex-start;
  /* margin-top: 20vh; */
}
.why-exist-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why-exist-left-image {
  width: 20%;
}
.tab-mobile-gear{
  display: none;
}
.why-exist {
  width: 80%;
}
.why-exist-right-image{
  max-width: 50vh;
  max-height: 50vh;
  position: relative;
}
.why-exist-right-image img {
  width: 100%;
  border-radius: 0 0 0 100% ;
}
.why-exist-right-image .dark-blue-div{
  min-width: 25%;
  min-height:25%;
  background-color: #10a8e6;
  position: absolute;
  top: 75%;
  border-radius: 0 100% 0 0;
}
.why-exist h2::after {
  content: "we exist to simplify your complaince services process!";
  display: block;
  color: #00bfff;
  font-size: 1.1rem;
  font-weight: 500;
}
.paragraphs {
  display: flex;
  padding-right: 2rem;
}
.paragraphs .left-para {
  padding-right: 1rem;
}
.paragraphs p {
  padding-top: 1rem;
}
.why-exist ul li {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  line-height: 2.3rem;
  color:#00bfff;
  padding-top: 1em;
}
@media screen and (max-width: 767px) {
  .why-exist {
    width: 100%;
    padding: 0 1.5rem;
  }
  .why-exist-left-image {
    display: none;
  }
  .why-exist-right-image {
    display: none;
  }
  
  .why-exist .headline-container {
    width: 100%;
  }
  .tab-mobile-gear{
    display: block;
    height: 40vh;
    max-width: 100vw;
    padding: 0 1.5rem;
    background-image: url('images/spikegear.gif');
    background-size: cover;
  }
  .why-exist .paragraphs {
    display: flex;
    width: 100%;
    
  }
  .why-exist .paragraphs .left-para {
    width: 100%;
    padding-right: 2rem;
  }
  .why-exist .paragraphs .right-para {
    width: 100%;
  }
}

@media screen and (max-width: 530px){
  .why-exist .paragraphs{
    flex-direction: column;
  }
}
